
  .container {
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(182, 247, 220, 0.2);
    background-color: rgb(201, 238, 236);

   
  }